.body {
    display: block;
   
   
}
.body-header {
    display: flex;

  padding: 30px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  color: white;
    margin: auto;
    margin-bottom: 2px;
    justify-content: center;
    align-self: center;
}

.body-form {
    display: flex;


    margin-top: 0px;
    justify-content: center;
    align-self: center;
}
.searchBox {

    width: 40%;
    padding-left: 30px;
    height: 30px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-style: none;
}
.searchButton {
    width: 30px;
    
    height: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-style: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 525px) {
    .body {
        display: block;
       
       
    }
    .body-header {
        display: flex;
    
      padding: 30px;
      font-family: 'Rubik';
      padding-bottom: 15px;
      font-size: 20px;
      font-weight: 700;
      color: white;
        margin: auto;
        margin-bottom: 2px;
        justify-content: center;
        align-self: center;
    }
    
    .body-form {
        display: flex;
    
    
        margin-top: 0px;
        justify-content: center;
        align-self: center;
    }
    .searchBox {
    
        width: 240px;
        padding-left: 20px;
        font-size: 12px;
        height: 30px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-style: none;
    }
    .searchBox:focus {
    
        width: 240px;
        padding-left: 20px;
        font-size: 12px;
        height: 30px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-style: none;
    }
    .searchButton {
        width: 35px;
        
        height: 30px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-style: none;
        background-color: black;
        color: white;
        cursor: pointer;
    }

}
