.navBar {
    display: flex;
    width: 100%;
    height: 60px;
    background-color:  #2096b9;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
    margin-bottom: 100px;
}
.navBar-header {
    
    align-items: center;
    margin: auto;
    color: white;
    font-weight: 500;
    letter-spacing: 0.09cm;
    font-family: montserrat;
}